<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="description" content="Biblioteca Digital del Ministerio de Justicia de la Nación. Digitalizamos libros históricos y editamos obras jurídicas de relevancia en formatos accesibles">

    <title>Libsys</title>

    <link rel="alternate" type="application/rss+xml" title="Canal de RSS Omeka" href="/items/browse?output=rss2">
    <link rel="alternate" type="application/atom+xml" title="Canal de Atom Omeka" href="/items/browse?output=atom">
    <!-- Stylesheets -->
    <link href="http://www.bibliotecadigital.gob.ar/plugins/ShortcodeCarousel/views/public/css/jcarousel.responsive.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/plugins/Reference/views/public/css/reference.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/application/views/scripts/css/iconfonts.css" media="all" rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/themes/avantgarde/css/style.css" media="all" rel="stylesheet" type="text/css"> <!-- JavaScripts -->
    
        <link rel="shortcut icon" href="/static/img/icono.jpg">
</head>


    
    
    <body id="home" class="two-col">
    <header>
        <div class="container">
            <div id="site-title" style="width: 28%; margin-top: 0px;">
                <a href="/">
                    <img src="/static/img/libsys.jpeg" style="width: 66%;filter: brightness(1.1);mix-blend-mode: multiply;" alt="Logo de Libsys">
                </a>
            </div>

            <!--SE PREGUNTA SI ESTA EN EL INDEX Y SE MUESTRA O NO LA BUSQUEDA DEL MENU -->

            <div id="primary-nav" style="position: absolute;right: 8%;">
                <ul class="navigation">
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="/libros">LIBROS</a>
                    </li>
                    <li>
                        <a href="/alquilar-libro">ALQUILAR LIBROS</a>
                    </li>
                    <li>
                        <a href="/registro">REGISTRARSE</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div id="mobile-nav">
        <ul class="navigation">
            <li>
                <a href="/home">HOME</a>
            </li>
            <li>
                <a href="/libros">LIBROS</a>
            </li>
            <li>
                <a href="/alquilar-libro">ALQUILAR LIBROS</a>
            </li>
            <li>
                <a href="/registro">REGISTRARSE</a>
            </li>
        </ul>
    </div>

    <div id="header-image-holder">
    </div>

    <div id="content">
        <div style="padding-top: 4%;padding-left: 1%;display: flex;">
            <div>
                
                    <img class="image-responsive" src="/static/img/plastas.jpg" alt="Los Plastas" style="height: 500px;">
            </div>

            <div>
                <div style="height: 41%;width: 159%;">
                    <h1 style="color: #0066ad; text-align: left;padding-left: 10%;">
                        LOS PLASTAS<br> HAN LLEGADO PARA INCORDIAR
                    </h1>
                    <p style="color: #00375f;padding-left: 10%;padding-top: 3%;">
                        <b>Autor:</b> Mike Van Waes<br>
                        <b>Género:</b> Infantil<br>
                        <b>Fechad de publicación:</b> 2020<br>
                    </p>
                </div>
                <div style="left: 79%;position: absolute;height: 6%;width: 14%;text-align: center;">
                    <h2 style="background-color: #0066ad;color: white;border-radius: 25px;height: 100%;display: grid;align-items: center;"> + ALQUILAR</h2>
                </div>
                <div style="top: 38%;height: 20%;width: 67%;position: absolute;">
                    <h2 style="color:#00375f;padding-left: 11%;margin-bottom: 1%;">
                        SINOPSIS:
                    </h2>
                    <p style="padding-left: 11%;text-align: justify;">Steve es un chico con un monton de problemas: 
                        tiene ansiedad, sus padres se han divorciado y, ademas, le han cambiado de colegio ¡a mitad de curso! 
                        La cosa es mala, pero todo ira a peor cuando se infecte con un virus que convertira sus preocupaciones en criaturas reales: los Plastas.

                        A partir de ese momento, un monton de criaturas pesadas, molestas y chillonas se dedican a perseguir a Steve y a volverle loco. 
                        ¿Lo peor? ¡Son contagiosos y estan infectando a toda la ciudad!</p>
                </div>
        </div>
            
        </div>

        <div id="primary">
        </div>
        
        <div id="fullWidth" class="marginbottom">

            <div id="featured-item">
                <h2>¿No sabés que leer? Te dejamos unas recomendaciones</h2>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3>
                        <a href="/items/show/2769">La abuela gangster</a>
                    </h3>
                    <div>
                        <a href="/items/show/2769" class="image">
                            
                                <img class="image-responsive" src="/static/img/abuela-gangster.jpg%20" alt="La abuela gangster">
                        </a>
                    </div>
                    <p class="item-description">Esta es la historia de Ben y de su abuela, ¡una ancianita con un secreto súper emocionante!</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3><a href="/items/show/2767">Supersustos RVE: Realidad Virtual Espantosa</a></h3>
                    <div>
                        <a href="/items/show/2767" class="image">
                            
                                <img class="image-responsive" src="/static/img/supersustos.jpg%20" alt="Supersustos RVE: Realidad Virtual Espantosa">
                        </a>
                    </div>
                    <p class="item-description">Lo que más le gusta a Aiden en el mundo son los juegos de VR.
                        Pero un día le regalan uno bastante extraño, demasiado real y siniestro… Aunque no pasa nada, ¿verdad?</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3><a href="/items/show/2758">Pequeña y grande Ana Frank</a></h3>
                    <div>
                        <a href="/items/show/2758" class="image">
                            
                                <img class="image-responsive" src="/static/img/ana-frank.jpg%20" alt="Pequeña y grande Ana Frank">
                        </a>
                    </div>
                    <p class="item-description">Descubre las vidas de destacados personajes: desde diseñadores y artistas hasta científicos.
                        Todos ellos fueron niños y niñas con grandes sueños y al crecer lograron cosas increíbles.
                        Estas inspiradoras historias ilustradas incluyen una sección de datos y fotos al final.</p>
                </div>

            </div>

        </div>
    </div>

    <footer class="main-footer" style="background-color: #fff;padding-top: 20px;justify-content: center;display: flex;">
        <img src="/static/img/libsys.jpeg" style="width: 10%;left: 9%;position: absolute;filter: brightness(1.1);mix-blend-mode: multiply;" alt="Logo de Libsys">
                <div id="footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="width: 100%;">
                                <div style="justify-content: center;position: absolute;width: 100%;">
                                    <a href="https://www.linkedin.com/in/nico-pacifico/">
                                        <p class="text-muted" style="margin: 10px 0;font-size: 12px;left: 20%;position: absolute;width: 123%;">Los contenidos de Libsys
                                            Company están licenciados bajo REPADEL INC &amp; Asoc., Reconocimiento 2.5 Argentina License</p>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            <p class="credits"><a class="designed center-div" >Basado en la plantilla AvantGarde - Diseñada por Emedara Studio.</a>
                                 - <a class="powered">REPADEL - Recalde, Pacifico y Delfino.</a></p>
                        </div>
    
    
                    </div>
                </div>


    </footer>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            Omeka.showAdvancedForm();
            Omeka.dropDown();
        });
    </script>
</body></html>