<html class="" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <meta name="description"
        content="Biblioteca Digital del Ministerio de Justicia de la Nación. Digitalizamos libros históricos y editamos obras jurídicas de relevancia en formatos accesibles" />

    <title>Libsys</title>

    <link rel="alternate" type="application/rss+xml" title="Canal de RSS Omeka" href="/items/browse?output=rss2" />
    <link rel="alternate" type="application/atom+xml" title="Canal de Atom Omeka" href="/items/browse?output=atom" />
    <!-- Stylesheets -->
    <link href="http://www.bibliotecadigital.gob.ar/plugins/ShortcodeCarousel/views/public/css/jcarousel.responsive.css"
        media="all" rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/plugins/Reference/views/public/css/reference.css" media="all"
        rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/application/views/scripts/css/iconfonts.css" media="all"
        rel="stylesheet" type="text/css">
    <link href="http://www.bibliotecadigital.gob.ar/themes/avantgarde/css/style.css" media="all" rel="stylesheet"
        type="text/css"> <!-- JavaScripts -->

</head>

<body id="home" class="two-col">
    <header>
        <div class="container">
            <div id="site-title" style="width: 28%; margin-top: 0px;">
                {% load static %}
                    <img src="{% static 'img/libsys.jpeg' %}" style="width: 66%;filter: brightness(1.1);mix-blend-mode: multiply;" alt="Logo de Libsys">
            </div>

            <!--SE PREGUNTA SI ESTA EN EL INDEX Y SE MUESTRA O NO LA BUSQUEDA DEL MENU -->

            <div id="primary-nav" style="position: absolute;right: 8%;">
                <ul class="navigation">
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="/libros">LIBROS</a>
                    </li>
                    <li>
                        <a href="/alquilar-libro">ALQUILAR LIBROS</a>
                    </li>
                    <li>
                        <a href="/login">REGISTRARSE o Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div id="mobile-nav">
        <ul class="navigation">
            <li>
                <a href="/home">HOME</a>
            </li>
            <li>
                <a href="/libros">LIBROS</a>
            </li>
            <li>
                <a href="/alquilar-libro">ALQUILAR LIBROS</a>
            </li>
            <li>
                <a href="/login">REGISTRARSE o Iniciar sesión</a>
            </li>
        </ul>
    </div>

    <div id="header-image-holder">
    </div>

    <div id="content">

        <div id="fullWidth" class="marginbottom" style="margin-bottom: 25px;" >
            <div id="search-container">

                <form id="search-form" name="search-form" action="/search" method="get">
                    <input type="text" name="query" id="query" value="" title="Buscar"
                        placeholder="¿Qué estás buscando?">
                    <button name="submit_search" id="submit_search" type="submit" value="Buscar">Buscar
                    </button>
                </form>

            </div>
        </div>

        <div id="fullWidth" class="marginbottom">

            <div style="height: 110px; width: 100%; text-align: center; display: inline-flex;margin-bottom: 15px;">
                   
                <h1 style="width: 25%;left: 12%;position: absolute;background-color: #0066ad;color: white;height: 4%;align-items: center;display: grid;border-radius: 35px;">
                    BUSCAR LIBRO
                </h1>  
                 
                <h1 style="background-color: #0066ad;width: 25%;right: 12%;position: absolute;display: grid;align-items: center;color: white;width: 25%;height: 4%;border-radius: 35px;">
                    ALQUILAR LIBRO
                </h1>  

        </div>

            <div style="height: 8%; width: 66%;">
                <h1 style="margin-left: 16px;">
                    ESTOS SON LOS TÍTULOS MAS LEÍDOS DEL MES:
                </h1>
            </div>

            <div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/items/browse?collection=20&seccion=ediciones" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/plastas.jpg'%}" alt="Los Plastas" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Los Plastas
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/ediciones-revistas" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/abrazo-arbol.jpg'%}" alt="El abrazo del arbol" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                El abrazo del árbol
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/items/browse?collection=28&seccion=lectura-facil" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/ninas-rebeldes.jpg'%}" alt="Cuentos de buenas noches para Niñas Rebeldes 2" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Cuentos de buenas noches para Niñas Rebeldes 2
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/revistas-universitarias" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/busca-libros.jpg'%}" alt="Los buscadores de libros" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Los buscadores de libros
                            </div>
                        </div>
                    </a>
                </div>
            
            </div>
            
            <div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/items/browse?collection=13&seccion=patrimonio-historico" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/isadora-moon.jpg'%}" alt="Isadora Moon y las manualidades mágicas" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Isadora Moon y las manualidades mágicas
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/items/browse?collection=21&seccion=politica-criminal-actuales" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/perrock-holmes.jpg '%}" alt="Perrock Holmes, dos detectives y medio" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Perrock Holmes, dos detectives y medio
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/politica-criminal-historico" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/cuentes-cuentos.jpg '%}" alt="No me cuentes cuentos" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                No me cuentes cuentos
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="/materiales-ensenanza-derecho" style="display: block;">
                        <div class="detalles">
                            <div class="homeImage">
                                {% load static %}
                                <img class="image-responsive" src="{% static 'img/futbolisimos.png '%}" alt="Los Futbolisimos, el misterio de los siete goles en contra" style="height: 374px;">
                            </div>
                            <div class="homeTitle">
                                Los Futbolisimos, el misterio de los siete goles en contra
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div id="primary">
        </div>

        <div id="fullWidth" class="marginbottom">

            <div id="featured-item">
                <h2>¿No sabés que leer? Te dejamos unas recomendaciones</h2>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3>
                        <a href="/items/show/2769">La abuela gangster</a>
                    </h3>
                    <div>
                        <a href="/items/show/2769" class="image">
                            {% load static %}
                                <img class="image-responsive" src="{% static 'img/abuela-gangster.jpg '%}" alt="La abuela gangster" >
                        </a>
                    </div>
                    <p class="item-description">Esta es la historia de Ben y de su abuela, ¡una ancianita con un secreto súper emocionante!</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3><a href="/items/show/2767">Supersustos RVE: Realidad Virtual Espantosa</a></h3>
                    <div>
                        <a href="/items/show/2767" class="image">
                            {% load static %}
                                <img class="image-responsive" src="{% static 'img/supersustos.jpg '%}" alt="Supersustos RVE: Realidad Virtual Espantosa" >
                        </a>
                    </div>
                    <p class="item-description">Lo que más le gusta a Aiden en el mundo son los juegos de VR.
                        Pero un día le regalan uno bastante extraño, demasiado real y siniestro… Aunque no pasa nada, ¿verdad?</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
                    <h3><a href="/items/show/2758">Pequeña y grande Ana Frank</a></h3>
                    <div>
                        <a href="/items/show/2758" class="image">
                            {% load static %}
                                <img class="image-responsive" src="{% static 'img/ana-frank.jpg '%}" alt="Pequeña y grande Ana Frank" >
                        </a>
                    </div>
                    <p class="item-description">Descubre las vidas de destacados personajes: desde diseñadores y artistas hasta científicos.
                        Todos ellos fueron niños y niñas con grandes sueños y al crecer lograron cosas increíbles.
                        Estas inspiradoras historias ilustradas incluyen una sección de datos y fotos al final.</p>
                </div>

            </div>

        </div>


    </div>

    <footer class="main-footer" style="background-color: #fff;padding-top: 20px;justify-content: center;display: flex;">
        <img src="/static/img/libsys.jpeg" style="width: 10%;left: 9%;position: absolute;filter: brightness(1.1);mix-blend-mode: multiply;" alt="Logo de Libsys">
                <div id="footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="width: 100%;">
                                <div style="justify-content: center;position: absolute;width: 100%;">
                                    <p class="text-muted" style="margin: 10px 0;font-size: 12px;left: 20%;position: absolute;width: 123%;">Los contenidos de Libsys
                                        Company están licenciados bajo REPADEL INC &amp; Asoc., Reconocimiento 2.5 Argentina License</p>
                                    <a href="https://www.linkedin.com/in/nico-pacifico/"> </a>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            <p class="credits"><a class="designed center-div" href="http://emedara.com">Basado en la
                                    plantilla AvantGarde - Diseñada por Emedara Studio.</a> - <a class="powered" href="http://omeka.org">REPADEL - Recalde, Pacifico y Delfino.</a></p>
                        </div>
    
    
                    </div>
                </div>


    </footer>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            Omeka.showAdvancedForm();
            Omeka.dropDown();
        });
    </script>

</body>

</html>