
<html class="" lang="es">
<head>


    <!--Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-112739625-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7KVKZMCJJ0"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-7KVKZMCJJ0'); </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
        <meta name="description" content="Biblioteca Digital del Ministerio de Justicia de la Nación. Digitalizamos libros históricos y editamos obras jurídicas de relevancia en formatos accesibles" />
    
        <title>Libsys</title>

    <link rel="alternate" type="application/rss+xml" title="Canal de RSS Omeka" href="/items/browse?output=rss2" /><link rel="alternate" type="application/atom+xml" title="Canal de Atom Omeka" href="/items/browse?output=atom" />
        <!-- Stylesheets -->
    <link href="http://www.bibliotecadigital.gob.ar/plugins/ShortcodeCarousel/views/public/css/jcarousel.responsive.css" media="all" rel="stylesheet" type="text/css" >
<link href="http://www.bibliotecadigital.gob.ar/plugins/Reference/views/public/css/reference.css" media="all" rel="stylesheet" type="text/css" >
<link href="http://www.bibliotecadigital.gob.ar/application/views/scripts/css/iconfonts.css" media="all" rel="stylesheet" type="text/css" >
<link href="http://www.bibliotecadigital.gob.ar/themes/avantgarde/css/style.css" media="all" rel="stylesheet" type="text/css" >    <!-- JavaScripts -->
                        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    //<!--
    window.jQuery || document.write("<script type=\"text\/javascript\" src=\"http:\/\/www.bibliotecadigital.gob.ar\/application\/views\/scripts\/javascripts\/vendor\/jquery.js\" charset=\"utf-8\"><\/script>")    //-->
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    //<!--
    window.jQuery.ui || document.write("<script type=\"text\/javascript\" src=\"http:\/\/www.bibliotecadigital.gob.ar\/application\/views\/scripts\/javascripts\/vendor\/jquery-ui.js\" charset=\"utf-8\"><\/script>")    //-->
</script>
<script type="text/javascript">
    //<!--
    jQuery.noConflict();    //-->
</script>
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/plugins/ShortcodeCarousel/views/public/javascripts/jcarousel.responsive.js"></script>
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/plugins/ShortcodeCarousel/views/public/javascripts/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/themes/avantgarde/javascripts/vendor/modernizr.js"></script>
<!--[if (gte IE 6)&(lte IE 8)]><script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/application/views/scripts/javascripts/vendor/selectivizr.js"></script><![endif]-->
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/application/views/scripts/javascripts/vendor/respond.js"></script>
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/themes/avantgarde/javascripts/globals.js"></script>
<script type="text/javascript" src="http://www.bibliotecadigital.gob.ar/themes/avantgarde/javascripts/bootstrap.min.js"></script></head>


 <body id="home" class="two-col">
            <header>
        
            <div class="container">

                                <div id="site-title">{% load staticfiles %}{<img src="{% static 'libsys.jpeg' %}" alt="fondo">
</div>
 
                <!--SE PREGUNTA SI ESTA EN EL INDEX Y SE MUESTRA O NO LA BUSQUEDA DEL MENU -->
                                
                <div id="primary-nav" >
                 <ul class="navigation">
    <li>
        <a href="/references/title">HOME</a>
    </li>
    <li>
        <a href="/exhibits">LIBROS</a>
    </li>
    <li>
        <a href="/about">ALQUILAR LIBROS</a>
    </li>
    <li>
        <a href="/about">MI CUENTA</a>
    </li>
</ul>    			</div>

            </div>
            
        </header>         
  
         <div id="mobile-nav">
            <ul class="navigation">
                <li>
                    <a href="/references/title">HOME</a>
                </li>
                <li>
                    <a href="/exhibits">LIBROS</a>
                </li>
                <li>
                    <a href="/about">ALQUILAR LIBROS</a>
                </li>
                <li>
                    <a href="/about">MI CUENTA</a>
                </li>
            </ul>    	 </div>

        
        <div id="header-image-holder">
        

                    </div>
                               
    <div id="content">

<div id="fullWidth" class="marginbottom">
    
    <div id="search-container">
        
        <h2>Biblioteca Digital del Ministerio de Justicia y <br> Derechos Humanos de la Nación
</h2>

                  <form id="search-form" name="search-form" action="/search" method="get">    <input type="text" name="query" id="query" value="" title="Buscar" placeholder="¿Qué estás buscando?">        <button name="submit_search" id="submit_search" type="submit" value="Buscar">Buscar</button></form>
                <a href="/items/search" id="advanced-search" class="button">Búsqueda avanzada</a>
    </div>
</div>

<div id="fullWidth" class="marginbottom">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/items/browse?collection=20&seccion=ediciones" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Libros SAIJ" src="/themes/avantgarde/images/colecciones/ediciones-saij.jpg">
                </div>
                <div class="homeTitle">
                    Libros SAIJ
                </div>
            </div>
            
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/ediciones-revistas" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Revistas SAIJ" src="/themes/avantgarde/images/colecciones/ediciones-saij-revistas.jpg">
                </div>
                <div class="homeTitle">
                   Revistas SAIJ
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/items/browse?collection=28&seccion=lectura-facil" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Lectura Fácil" src="/themes/avantgarde/images/colecciones/lectura_facil.jpg">
                </div>
                <div class="homeTitle">
                    Lectura Fácil
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/revistas-universitarias" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Revistas universitarias" src="/themes/avantgarde/images/colecciones/revistas_universitarias.jpg">
                </div>
                <div class="homeTitle">
                    Revistas universitarias
                </div>
            </div>
        </a>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/items/browse?collection=13&seccion=patrimonio-historico" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Patrimonio histórico" src="/themes/avantgarde/images/colecciones/patrimonio-historico.jpg">
                </div>
                <div class="homeTitle">
                    Patrimonio histórico
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/items/browse?collection=21&seccion=politica-criminal-actuales" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Política criminal" src="/themes/avantgarde/images/colecciones/politica-criminal.jpg">
                </div>
                <div class="homeTitle">
                    Política criminal - Estudios actuales
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/politica-criminal-historico" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Política criminal - Archivo histórico" src="/themes/avantgarde/images/colecciones/politica-criminal-archivo-historico.jpg">
                </div>
                <div class="homeTitle">
                    Política criminal - Archivo histórico
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="/materiales-ensenanza-derecho" style="display: block;">
            <div class="detalles">
                <div class="homeImage">
                    <img class="image-responsive" alt="Materiales PFAVA para la enseñanza del derecho" src="/themes/avantgarde/images/colecciones/recaso.jpg">
                </div>
                <div class="homeTitle">
                    Materiales para la enseñanza del derecho
                </div>
            </div>
        </a>
    </div>

    
   
<!--
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vermas">
            <a href="/collections/browse">Ver todas las colecciones</a>
    </div>
-->
</div>

<div id="primary"></div>
<div id="fullWidth" class="marginbottom">
    

        <!-- Featured Item -->
    <div id="featured-item">
        <h2>Elementos destacados</h2>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
        <h3><a href="/items/show/2769">Justicia y Género</a></h3>
    <div>
    <a href="/items/show/2769" class="image"><img src="http://www.bibliotecadigital.gob.ar/files/fullsize/20/2769/Justicia_y_Genero.jpg" alt="Justicia y Genero.jpg" title="Justicia y Genero.jpg"></a>    </div>
            <p class="item-description">La presente publicación plantea un espacio abierto para acercar herramientas y reflexionar sobre algunas transformaciones necesarias para tratar las…</p>
    </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
        <h3><a href="/items/show/2767">Desarme voluntario en Argentina</a></h3>
    <div>
    <a href="/items/show/2767" class="image"><img src="http://www.bibliotecadigital.gob.ar/files/fullsize/20/2767/Desarme_voluntario_en_Argentina.1.jpg" alt="Desarme voluntario en Argentina.jpg" title="Desarme voluntario en Argentina.jpg"></a>    </div>
            <p class="item-description">La presente publicación refiere a la labor que lleva adelante la Agencia Nacional de Materiales Controlados. Las tareas fundamentales de este…</p>
    </div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item record">
        <h3><a href="/items/show/2758">Código Civil y Comercial de la Nación Comentado (Edición actualizada 2022)</a></h3>
    <div>
    <a href="/items/show/2758" class="image"><img src="http://www.bibliotecadigital.gob.ar/files/fullsize/20/2758/tapa_tomo_1_CCyC_Com.jpg" alt="tapa tomo 1 CCyC Com.jpg" title="tapa tomo 1 CCyC Com.jpg"></a>    </div>
            <p class="item-description">Esta Segunda Edición del primer tomo de la Colección Código Civil y Comercial de la Nación Comentado, aborda también el Título Preliminar y el…</p>
    </div>
    </div><!--end featured-item-->
        
    
</div><!-- end primary -->


<!--
<div id="secondary">
    <div id="search-container">
        <h2>Buscar</h2>
                                                    <a href="/items/search" id="advanced-search" class="button">Búsqueda avanzada</a>
    </div>

    
</div>
-->
<!-- end secondary -->

</div><!-- end content -->

<div class="footer">
    <footer class="main-footer" style="background-color: #fff;">
        <div id="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <a href="http://www.jus.gob.ar/"> <img alt="LIBSYS COMPANY" src="/themes/avantgarde/images/logo_ministerio2020.png"></a>
                        <p class="text-muted" style="margin: 10px 0; font-size: 12px;">Los contenidos de Libsys Company están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
                    </div>
                    
                </div>
                <div class="row">
                    <p class="credits"><a class="designed center-div" href="http://emedara.com">Basado en la plantilla AvantGarde - Diseñada por Emedara Studio.</a> - <a class="powered" href="http://omeka.org">Proudly powered by Omeka.</a></p>
                </div>
        
           <!--              <div id="custom-footer-text">
                <p></p>
            </div> 
                                    <p></p>
            -->
            
            </div>
        </div><!-- end footer-content -->

         
    </footer>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        Omeka.showAdvancedForm();
               Omeka.dropDown();
    });
</script>

</body>

</html>
